.goyoursbear-component {
  position: absolute;
  margin: 0 auto;
  right: -92%;
  top: 38%;

  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}

.goyoursbear-line {
  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}

.goyoursBearJob {
  position: absolute;
  margin: 0 auto;
  right: -42%;
  top: 40%;

  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}

.goyoursbear-morepost {
  position: absolute;
  right: -156%;
  top: 10%;

  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}

.goyoursbear-relatedpost {
  position: absolute;
  right: -70%;
  top: 8%;

  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}

.goyoursbear-component-school {
  position: absolute;
  right: -54%;
  top: 30%;

  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}

.goyoursbear-aboutstudying {
  position: absolute;
  right: -158%;
  top: 10%;

  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .goyoursbear-morepost {
    right: -178%;
  }
  .goyoursbear-aboutstudying {
    right: -178%;
  }
  .goyoursbear-component {
    right: -108%;
  }
  .goyoursBearJob {
    right: -52%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .goyoursbear-component {
    right: -147%;
  }
  .goyoursbear-component svg {
    height: 3.5rem;
  }

  .goyoursBearJob svg {
    height: 3.5rem;
  }
  .goyoursBearJob {
    right: -56%;
  }

  .goyoursbear-morepost svg {
    height: 3.5rem;
  }
  .goyoursbear-morepost {
    top: 30%;
    right: -147%;
  }

  .goyoursbear-aboutstudying svg {
    height: 3.5rem;
  }
  .goyoursbear-aboutstudying {
    top: 30%;
    right: -147%;
  }

  .goyoursbear-relatedpost svg {
    height: 3.5rem;
  }
  .goyoursbear-relatedpost {
    top: 30%;
    right: -64%;
  }
}
@media screen and (max-width: 500px) {
  .goyoursbear-component svg {
    /* width: 8rem; */
    height: 2.5rem;
  }
  .goyoursbear-component {
    top: 32%;
    right: -220%;
  }
  .goyoursbear-line {
    stroke-width: 20 !important;
  }
  .goyoursBearJob svg {
    height: 2.5rem;
  }
  .goyoursBearJob {
    right: -66%;
  }
  .goyoursbear-aboutstudying svg {
    height: 2.5rem;
  }
  .goyoursbear-aboutstudying {
    top: 38%;
    right: -220%;
  }
  .goyoursbear-morepost svg {
    height: 2.5rem;
  }
  .goyoursbear-morepost {
    top: 38%;
    right: -220%;
  }
  .goyoursbear-relatedpost svg {
    height: 2.5rem;
  }
  .goyoursbear-relatedpost {
    top: 38%;
    right: -116%;
  }

  .goyoursbear-component-school svg {
    height: 2.5rem;
  }

  .goyoursbear-component-school {
    right: -140%;
    top: 30%;
  }
}
