.jobListSection {
  padding-top: 6rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 80vw;
  max-width: 1240px;

  margin: 0 auto;
}

.searchResultArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 10rem;
  /* margin-bottom: 6rem; */
  /* padding-bottom: 4rem; */

  background: url(/goyoursBear-bg.svg) no-repeat;
  background-position: center;
  background-size: contain;
}
.searchResultArea h2 {
  font-size: 2rem;

  margin-bottom: 0.5rem;

  display: flex;
  align-items: center;
}
.searchResultArea svg {
  padding-right: 1rem;
}
.searchNumber {
  color: #414042;
}

.searchResult {
  font-size: 1rem;

  font-weight: bold;
}
.joblist {
  width: 100%;

  padding-bottom: 2rem;

  border-bottom: 1px solid #d0d0d0;
}

.joblist img {
  width: 30%;

  border-radius: 1.5rem;
}

.listintro {
  position: relative;

  display: flex;

  gap: 2rem;
}
.listintro ul {
  display: flex;
  flex-direction: column;
  gap: 8%;

  font-weight: bold;
}
.listintro ul > li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.joblistBtn {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listintro .openDetail {
  position: absolute;

  display: flex;
  align-items: center;

  bottom: 0;
  right: 0;
  border: none;
  background-color: transparent;

  opacity: 1;
  transition-duration: 0.2s;
}
.moreBtn {
  margin-left: 0.6rem;

  font-size: 1.2rem;
}
.joblistBtn > button:nth-child(1) {
  background-color: #f8b300;
  color: #fff;

  padding: 1rem 2rem;
  border-radius: 50rem;

  border: none;

  font-weight: bold;
}
.joblistBtn > button:nth-child(2) {
  background-color: #414042;
  color: #fff;

  padding: 1rem 2rem;
  border-radius: 50rem;

  border: none;

  font-weight: bold;
}

.listdetail {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 24rem;

  transition-duration: 0.5s;
  font-weight: bold;
}

.listdetaillist {
  display: flex;
  flex-direction: column;
  gap: 8%;

  padding-left: 34%;
  padding-top: 2rem;

  height: 100%;

  overflow: hidden;

  transition-duration: 0.5s;
}
.listdetail ul > li {
  list-style-type: disc;
}
.listdetail a {
  display: flex;
  width: fit-content;

  align-items: center;
  gap: 1rem;

  color: #fff;
  font-weight: bold;

  background-color: #414042;
  padding: 1rem 2rem;

  margin: 1% 0 0 33%;

  border-radius: 0.8rem;

  transition-delay: 0.2s;
  opacity: 1;
}

.listdetail button {
  position: absolute;

  bottom: 0;
  right: 0;

  border: none;
  background-color: transparent;
}

.close {
  overflow: hidden;

  height: 0;

  transition-duration: 0.5s;
}

.btnClose {
  opacity: 0 !important;

  transition-duration: 0.2s;

  pointer-events: none;
}

@media screen and (max-width: 480px) {
  .searchResultArea h2 {
    font-size: 1.25rem;
  }
  .searchResult {
    font-size: 0.875rem;
  }
}
