.postcategory {
  padding-top: 6rem;

  width: 60%;
  height: fit-content;

  position: sticky;
  top: 4%;
}

.postCategoryList {
  margin: 1rem 0 !important;

  font-weight: bold;
}
.postcategoryh4 {
  position: relative;
  display: flex;
  justify-content: center;

  background-color: var(--goyoursYellow);

  padding: 0.3rem;
  color: #fff;

  border-radius: 5px;
}

.postCategoryList::before {
  content: '#';
}

/* 移除第一個li的before */
.postCategoryList:nth-child(2)::before {
  content: none;
}

.search {
  display: flex;
  justify-content: center;
  align-items: start;

  position: relative;
}
.magnify {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: #999;
}
.search input {
  width: 100%;
  padding: 1rem 0 1rem 2rem;
  font-size: 1.1rem;

  border: none;
  border-bottom: 2px solid #999;

  background-color: transparent;
}
.search input::placeholder {
  font-weight: bold;
}
