.postcategory {
  padding-top: 6rem;

  width: 100%;
  height: fit-content;

  position: sticky;
  top: 8%;
}

.postCategoryList {
  margin: 1rem 0 !important;

  font-weight: bold;
}
.postcategoryh4 {
  position: relative;
  display: flex;
  justify-content: center;

  background-color: var(--goyoursYellow);

  padding: 0.3rem;
  color: #fff;

  border-radius: 5px;
}

.postCategoryList::before {
  content: '#';
}

/* 移除第一個li的before */
.postCategoryList:nth-child(2)::before {
  content: none;
}

.search {
  display: flex;
  justify-content: start;
  align-items: start;

  position: relative;

  width: 90%;
}
.magnify {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: #d0d0d0;

  padding-left: 0.5rem;
}
.search input {
  width: 100%;
  padding: 1rem 0 1rem 2rem;
  font-size: 1.1rem;

  border: none;
  border-bottom: 2px solid #d0d0d0;

  background-color: transparent;
}
.placeholder::placeholder {
  font-weight: bold;
  color: #d0d0d0;

  font-size: 1rem;
}
.search::after {
  position: absolute;
  content: url(/goyoursbear-line-G.svg);
  left: 100%;
  bottom: 10%;
  width: 2rem;
  height: 2rem;
}
.placeholder:focus {
  border: 2px solid var(--goyoursYellow);
  outline: none;
}
