.breadCrumb {
  position: absolute;
  top: 10rem;
  left: 0;
}
.breadCrumb ul,
.breadCrumb li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem;

  font-size: 1rem;

  margin: 0.5rem 0;
}

.breadCrumb li a {
  display: flex;

  text-decoration: none;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .breadCrumb {
    top: 5rem;
    left: -8%;
  }
}

@media screen and (max-width: 480px) {
  .breadCrumb {
    top: 7%;
  }
  .breadCrumb li {
    font-size: 0.75rem;
  }
}
