.postarea {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.postRight {
  display: flex;
  gap: 2rem;

  flex-direction: column;
}
.postRight img {
  width: 100%;
}

.postPage {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.info {
  display: flex;
  gap: 1rem;
}

.view,
.author,
.date,
.category {
  display: flex;
  gap: 0.5rem;
}

.postLoading {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textPart {
  color: #a1a1a1;
}
