.postarea {
  display: flex;
  gap: 2rem;

  padding: 3rem 0;
  border-bottom: 2px solid #d0d0d0;
}

.postListInfo h2 {
  font-size: 1.25rem;
  margin-top: 0;
}

.imgLink {
  width: 450px;
  height: auto;

  border-radius: 1rem;
}
.imgLink img {
  border-radius: 1rem;
}

.postRight {
  display: flex;
  /* gap: 5rem; */

  flex-direction: column;

  /* height: 100vh;

  overflow: auto; */

  padding-top: 4rem;
}
.postRight img {
  width: 450px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  font-weight: bold;

  color: var(--goyoursYellow);
}
.category a {
  font-weight: bold;

  color: var(--goyoursYellow);
}

.date {
  padding: 0;
  margin: 0;
  margin-top: 1rem;

  font-size: 1.2rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.date span {
  display: flex;
  align-items: center;
}
.date img {
  width: 2rem;
}
.textPart {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

  margin-top: 1rem;

  color: #a1a1a1;
}
.textPart a {
  color: #a1a1a1;
}
.textPart h1,
.textPart h2,
.textPart h3,
.textPart a,
.textPart p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 0;
  font-weight: normal;
}
