.contactus {
  background-image: url(/KV_13.png);
  background-size: cover;
  background-position: center;
  height: 50vh;

  display: flex;
  align-items: end;
}

.contactusTitle {
  padding: 6rem 10%;
  color: #fff;
}
