.contactus {
  background-image: url(/src/assets/KV_18.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;

  display: flex;
  align-items: end;
}

.contactusTitle {
  padding: 6rem 10%;
  color: #fff;
}

.qaSection {
  padding-top: 6rem;

  width: 70vw;

  margin: 0 auto;
}
.qaSection h1 {
  display: flex;
  flex-direction: column;

  text-align: center;
}
.qaSection h1::after {
  content: '';
  width: 4rem;
  margin: 0 auto;

  padding-top: 3rem;
  border-bottom: 0.6rem solid var(--goyoursYellow);
}

.preQA {
  padding-bottom: 2rem;
}

.answer {
  display: flex;
  align-items: start;

  line-height: 2rem;
}
.answer p {
  background-color: #feeecb;

  padding: 1rem;

  margin: 0;

  width: 100%;

  border-radius: 0.5rem;
}
.question {
  display: flex;
  align-items: center;

  padding-bottom: 1rem;
}
.Qmark {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;

  width: 3rem;
  height: 3rem;

  background-color: #414042;
  color: #fff;

  clip-path: circle(40%);

  margin-right: 2rem;
}
.answerLogo {
  display: flex;
  justify-content: center;
  align-items: center;

  clip-path: circle(40%);
  width: 3rem;
  height: 3rem;

  margin-right: 2rem;
}
.answerLogo img {
  height: 80%;
}

.part1 {
  padding-bottom: 4rem;
  padding-top: 2rem;

  border-bottom: 3px solid #e8e4e0;
}
.part2 {
  padding-top: 4rem;
}
