.guide-text-animation-wrapper {
  --fontSize: calc(100vw / 130);
  width: 1.1rem;
  position: relative;

  /* transform: translateY(-10%); */
}

.guide-text-animation-wrapper p {
  position: absolute;
  top: -10%;

  animation: scrollUp 30s linear infinite;
}

@keyframes scrollUp {
  from {
    top: 110%;
  }
  to {
    top: -10%;
  }
}

.guide-text-animation-wrapper p:nth-child(1) {
  animation-delay: calc(30s / 13 * (13 - 1) * -1);
}
.guide-text-animation-wrapper p:nth-child(2) {
  animation-delay: calc(30s / 13 * (13 - 2) * -1);
}
.guide-text-animation-wrapper p:nth-child(3) {
  animation-delay: calc(30s / 13 * (13 - 3) * -1);
}
.guide-text-animation-wrapper p:nth-child(4) {
  animation-delay: calc(30s / 13 * (13 - 4) * -1);
}
.guide-text-animation-wrapper p:nth-child(5) {
  animation-delay: calc(30s / 13 * (13 - 5) * -1);
}
.guide-text-animation-wrapper p:nth-child(6) {
  animation-delay: calc(30s / 13 * (13 - 6) * -1);
}
.guide-text-animation-wrapper p:nth-child(7) {
  animation-delay: calc(30s / 13 * (13 - 7) * -1);
}
.guide-text-animation-wrapper p:nth-child(8) {
  animation-delay: calc(30s / 13 * (13 - 8) * -1);
}
.guide-text-animation-wrapper p:nth-child(9) {
  animation-delay: calc(30s / 13 * (13 - 9) * -1);
}
.guide-text-animation-wrapper p:nth-child(10) {
  animation-delay: calc(30s / 13 * (13 - 10) * -1);
}
.guide-text-animation-wrapper p:nth-child(11) {
  animation-delay: calc(30s / 13 * (13 - 11) * -1);
}
.guide-text-animation-wrapper p:nth-child(12) {
  animation-delay: calc(30s / 13 * (13 - 12) * -1);
}
.guide-text-animation-wrapper p:nth-child(13) {
  animation-delay: calc(30s / 13 * (13 - 13) * -1);
}

/**/

.left-1,
.right-1 {
  --wrapperWidth: calc(100vw / 144);

  width: 12rem;

  height: 120vh;
}

.guide-pic-animation-wrapper {
  position: absolute;
  top: 0;

  animation: scrollDown 20s linear infinite;
}

@keyframes scrollDown {
  from {
    top: -140%;
  }
  to {
    top: 110%;
  }
}

.guide-pic-animation-wrapper:nth-child(1) {
  animation-delay: calc(20s / 9 * (9 - 1) * -1);
}
.guide-pic-animation-wrapper:nth-child(2) {
  animation-delay: calc(20s / 9 * (9 - 2) * -1);
}
.guide-pic-animation-wrapper:nth-child(3) {
  animation-delay: calc(20s / 9 * (9 - 3) * -1);
}
.guide-pic-animation-wrapper:nth-child(4) {
  animation-delay: calc(20s / 9 * (9 - 4) * -1);
}
.guide-pic-animation-wrapper:nth-child(5) {
  animation-delay: calc(20s / 9 * (9 - 5) * -1);
}
.guide-pic-animation-wrapper:nth-child(6) {
  animation-delay: calc(20s / 9 * (9 - 6) * -1);
}
.guide-pic-animation-wrapper:nth-child(7) {
  animation-delay: calc(20s / 9 * (9 - 7) * -1);
}
.guide-pic-animation-wrapper:nth-child(8) {
  animation-delay: calc(20s / 9 * (9 - 8) * -1);
}
.guide-pic-animation-wrapper:nth-child(9) {
  animation-delay: calc(20s / 9 * (9 - 9) * -1);
}

/**/

@media (min-width: 769px) and (max-width: 1024px) {
  .left-picWrapper {
    width: 100vw;
    height: 8rem;
  }
  .guide-pic-animation-wrapper {
    animation: scrollLeft 20s linear infinite;
  }

  .guide-text-animation-wrapper {
    width: 100vw;
    height: 1rem;
  }
  .guide-text-animation-wrapper p {
    --fontSize: calc(100vw / 60);
    font-size: calc(1 * var(--fontSize));
    animation: scrollRight 30s linear infinite;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .left-picWrapper {
    width: 100vw;
    height: 6rem;
  }
  .guide-pic-animation-wrapper {
    width: calc(35 * var(--wrapperWidth));
    height: 6rem;
    animation: scrollLeft 20s linear infinite;
  }

  .guide-text-animation-wrapper {
    width: 100vw;
    height: 1rem;
  }
  .guide-text-animation-wrapper p {
    animation: scrollRight 30s linear infinite;
    --fontSize: calc(100vw / 50);
    font-size: calc(1 * var(--fontSize));
  }
}

@media screen and (max-width: 500px) {
  .left-picWrapper,
  .right-picWrapper {
    display: none !important;
  }
  .guide-text-animation-wrapper:nth-of-type(1) {
    display: none;
  }
  .guide-text-animation-wrapper p {
    font-size: calc(4.2 * var(--fontSize)) !important;

    height: 100%;
  }
}

@keyframes scrollLeft {
  from {
    left: 110%;
  }
  to {
    left: -130%;
  }
}
@keyframes scrollRight {
  from {
    left: -10%;
  }
  to {
    left: 150%;
  }
}
