/*right text*/

.silde-text-wrapper-right01 p:nth-child(1) {
  animation-delay: calc(15s / 13 * (13 - 1) * -1);
}
.silde-text-wrapper-right01 p:nth-child(2) {
  animation-delay: calc(15s / 13 * (13 - 2) * -1);
}
.silde-text-wrapper-right01 p:nth-child(3) {
  animation-delay: calc(15s / 13 * (13 - 3) * -1);
}
.silde-text-wrapper-right01 p:nth-child(4) {
  animation-delay: calc(15s / 13 * (13 - 4) * -1);
}
.silde-text-wrapper-right01 p:nth-child(5) {
  animation-delay: calc(15s / 13 * (13 - 5) * -1);
}
.silde-text-wrapper-right01 p:nth-child(6) {
  animation-delay: calc(15s / 13 * (13 - 6) * -1);
}
.silde-text-wrapper-right01 p:nth-child(7) {
  animation-delay: calc(15s / 13 * (13 - 7) * -1);
}
.silde-text-wrapper-right01 p:nth-child(8) {
  animation-delay: calc(15s / 13 * (13 - 8) * -1);
}
.silde-text-wrapper-right01 p:nth-child(9) {
  animation-delay: calc(15s / 13 * (13 - 9) * -1);
}
.silde-text-wrapper-right01 p:nth-child(10) {
  animation-delay: calc(15s / 13 * (13 - 10) * -1);
}
.silde-text-wrapper-right01 p:nth-child(11) {
  animation-delay: calc(15s / 13 * (13 - 11) * -1);
}
.silde-text-wrapper-right01 p:nth-child(12) {
  animation-delay: calc(15s / 13 * (13 - 12) * -1);
}
.silde-text-wrapper-right01 p:nth-child(13) {
  animation-delay: calc(15s / 13 * (13 - 13) * -1);
}

/*right text*/

/*left text*/
.silde-text-wrapper-left01 p:nth-child(1) {
  animation-delay: calc(15s / 13 * (13 - 1) * -1);
}
.silde-text-wrapper-left01 p:nth-child(2) {
  animation-delay: calc(15s / 13 * (13 - 2) * -1);
}
.silde-text-wrapper-left01 p:nth-child(3) {
  animation-delay: calc(15s / 13 * (13 - 3) * -1);
}
.silde-text-wrapper-left01 p:nth-child(4) {
  animation-delay: calc(15s / 13 * (13 - 4) * -1);
}
.silde-text-wrapper-left01 p:nth-child(5) {
  animation-delay: calc(15s / 13 * (13 - 5) * -1);
}
.silde-text-wrapper-left01 p:nth-child(6) {
  animation-delay: calc(15s / 13 * (13 - 6) * -1);
}
.silde-text-wrapper-left01 p:nth-child(7) {
  animation-delay: calc(15s / 13 * (13 - 7) * -1);
}
.silde-text-wrapper-left01 p:nth-child(8) {
  animation-delay: calc(15s / 13 * (13 - 8) * -1);
}
.silde-text-wrapper-left01 p:nth-child(9) {
  animation-delay: calc(15s / 13 * (13 - 9) * -1);
}
.silde-text-wrapper-left01 p:nth-child(10) {
  animation-delay: calc(15s / 13 * (13 - 10) * -1);
}
.silde-text-wrapper-left01 p:nth-child(11) {
  animation-delay: calc(15s / 13 * (13 - 11) * -1);
}
.silde-text-wrapper-left01 p:nth-child(12) {
  animation-delay: calc(15s / 13 * (13 - 12) * -1);
}
.silde-text-wrapper-left01 p:nth-child(13) {
  animation-delay: calc(15s / 13 * (13 - 13) * -1);
}
/*left text*/

/*right pic*/
.guideImgFrame-right:nth-child(1) {
  animation-delay: calc(20s / 6 * (6 - 1) * -1);
}
.guideImgFrame-right:nth-child(2) {
  animation-delay: calc(20s / 6 * (6 - 2) * -1);
}
.guideImgFrame-right:nth-child(3) {
  animation-delay: calc(20s / 6 * (6 - 3) * -1);
}
.guideImgFrame-right:nth-child(4) {
  animation-delay: calc(20s / 6 * (6 - 4) * -1);
}
.guideImgFrame-right:nth-child(5) {
  animation-delay: calc(20s / 6 * (6 - 5) * -1);
}
.guideImgFrame-right:nth-child(6) {
  animation-delay: calc(20s / 6 * (6 - 6) * -1);
}
/*right pic*/

/*left pic*/
.guideImgFrame-left:nth-child(1) {
  animation-delay: calc(20s / 6 * (6 - 1) * -1);
}
.guideImgFrame-left:nth-child(2) {
  animation-delay: calc(20s / 6 * (6 - 2) * -1);
}
.guideImgFrame-left:nth-child(3) {
  animation-delay: calc(20s / 6 * (6 - 3) * -1);
}
.guideImgFrame-left:nth-child(4) {
  animation-delay: calc(20s / 6 * (6 - 4) * -1);
}
.guideImgFrame-left:nth-child(5) {
  animation-delay: calc(20s / 6 * (6 - 5) * -1);
}
.guideImgFrame-left:nth-child(6) {
  animation-delay: calc(20s / 6 * (6 - 6) * -1);
}
/*left pic*/

@keyframes scrollUp {
  to {
    top: -40%;
  }
}
@keyframes scrollDown {
  to {
    bottom: -40%;
  }
}
@keyframes scrollDownTextDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(1000%);
  }
}
@keyframes scrollDownText {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(1200%);
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .guideImgFrame-right:nth-child(1) {
    animation-delay: calc(12s / 5 * (6 - 1) * -1);
  }
  .guideImgFrame-right:nth-child(2) {
    animation-delay: calc(12s / 5 * (6 - 2) * -1);
  }
  .guideImgFrame-right:nth-child(3) {
    animation-delay: calc(12s / 5 * (6 - 3) * -1);
  }
  .guideImgFrame-right:nth-child(4) {
    animation-delay: calc(12s / 5 * (6 - 4) * -1);
  }
  .guideImgFrame-right:nth-child(5) {
    animation-delay: calc(12s / 5 * (6 - 5) * -1);
  }
  .guideImgFrame-right:nth-child(6) {
    animation-delay: calc(12s / 5 * (6 - 6) * -1);
  }

  /*right text*/

  .silde-text-wrapper-right01 p:nth-child(1) {
    animation-delay: calc(20s / 10 * (13 - 1) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(2) {
    animation-delay: calc(20s / 10 * (13 - 2) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(3) {
    animation-delay: calc(20s / 10 * (13 - 3) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(4) {
    animation-delay: calc(20s / 10 * (13 - 4) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(5) {
    animation-delay: calc(20s / 10 * (13 - 5) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(6) {
    animation-delay: calc(20s / 10 * (13 - 6) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(7) {
    animation-delay: calc(20s / 10 * (13 - 7) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(8) {
    animation-delay: calc(20s / 10 * (13 - 8) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(9) {
    animation-delay: calc(20s / 10 * (13 - 9) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(10) {
    animation-delay: calc(20s / 10 * (13 - 10) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(11) {
    animation-delay: calc(20s / 10 * (13 - 11) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(12) {
    animation-delay: calc(20s / 10 * (13 - 12) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(13) {
    animation-delay: calc(20s / 10 * (13 - 13) * -1);
  }

  @keyframes scrollRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(430%);
    }
  }
  @keyframes scrollLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100vw);
    }
  }
}

@media screen and (max-width: 375px) {
  /*right text*/

  .silde-text-wrapper-right01 p:nth-child(1) {
    animation-delay: calc(13s / 13 * (10 - 1) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(2) {
    animation-delay: calc(13s / 13 * (10 - 2) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(3) {
    animation-delay: calc(13s / 13 * (10 - 3) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(4) {
    animation-delay: calc(13s / 13 * (10 - 4) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(5) {
    animation-delay: calc(13s / 13 * (10 - 5) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(6) {
    animation-delay: calc(13s / 13 * (10 - 6) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(7) {
    animation-delay: calc(13s / 13 * (10 - 7) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(8) {
    animation-delay: calc(13s / 13 * (10 - 8) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(9) {
    animation-delay: calc(13s / 13 * (10 - 9) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(10) {
    animation-delay: calc(13s / 13 * (10 - 10) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(11) {
    animation-delay: calc(13s / 13 * (10 - 11) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(12) {
    animation-delay: calc(13s / 13 * (10 - 12) * -1);
  }
  .silde-text-wrapper-right01 p:nth-child(13) {
    animation-delay: calc(13s / 13 * (10 - 13) * -1);
  }

  /*left text*/
  .silde-text-wrapper-left01 p:nth-child(1) {
    animation-delay: calc(13s / 13 * (13 - 1) * -1);
  }
  .silde-text-wrapper-left01 p:nth-child(2) {
    animation-delay: calc(13s / 13 * (13 - 2) * -1);
  }
  .silde-text-wrapper-left01 p:nth-child(3) {
    animation-delay: calc(13s / 13 * (13 - 3) * -1);
  }
  .silde-text-wrapper-left01 p:nth-child(4) {
    animation-delay: calc(13s / 13 * (13 - 4) * -1);
  }
  .silde-text-wrapper-left01 p:nth-child(5) {
    animation-delay: calc(13s / 13 * (13 - 5) * -1);
  }
  .silde-text-wrapper-left01 p:nth-child(6) {
    animation-delay: calc(13s / 13 * (13 - 6) * -1);
  }
  .silde-text-wrapper-left01 p:nth-child(7) {
    animation-delay: calc(13s / 13 * (13 - 7) * -1);
  }
  .silde-text-wrapper-left01 p:nth-child(8) {
    animation-delay: calc(13s / 13 * (13 - 8) * -1);
  }
  .silde-text-wrapper-left01 p:nth-child(9) {
    animation-delay: calc(13s / 13 * (13 - 9) * -1);
  }
  .silde-text-wrapper-left01 p:nth-child(10) {
    animation-delay: calc(13s / 13 * (13 - 10) * -1);
  }
  .silde-text-wrapper-left01 p:nth-child(11) {
    animation-delay: calc(13s / 13 * (13 - 11) * -1);
  }
  .silde-text-wrapper-left01 p:nth-child(12) {
    animation-delay: calc(13s / 13 * (13 - 12) * -1);
  }
  .silde-text-wrapper-left01 p:nth-child(13) {
    animation-delay: calc(13s / 13 * (13 - 13) * -1);
  }
  /*left text*/
}
