.postDetailSection {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 6rem;

  gap: 5rem;
}
.postbody {
  padding-top: 6rem;

  word-break: break-word; /* 強制換行 */
  overflow-wrap: break-word; /* 防止長字串超出 */
  white-space: normal; /* 允許自動換行 */
}
.postbody img {
  width: 100%;

  border-radius: 2rem;
}
.postbody h1 {
  font-size: 2.5rem;
  /* margin-top: 0; */
}

.postinfolist {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;

  color: var(--goyoursYellow);

  font-weight: bold;
}
.postinfolist ul {
  display: flex;

  gap: 2rem;
}
.postinfolist ul p {
  margin: 0.5rem 0;
}
.postinfolist ul:last-child {
  flex-wrap: wrap;
}
.postDetaildate {
  position: relative;
}
.postDetaildate p {
  padding-left: 3rem;
}
.postDetaildate::before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);

  background-image: url(/圓形logo.png);
  background-position: center;
  background-size: cover;
}
.postDetailviews {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.viewsicon {
  font-size: 2rem;

  color: var(--goyoursYellow);
}
.postDetialContactus {
  width: 90vw;
  margin: 0 auto;
  padding: 4rem 0;
}

.postTxtarea li {
  list-style: auto;
}
.postTxtarea {
  counter-reset: textSrea;

  line-height: 2rem;
  padding: 4rem 0;
  padding-top: 2rem;
  position: relative;
  z-index: 1;
}
.postTxtarea ul,
.postTxtarea ol,
.postTxtarea p,
.postTxtarea h3 {
  padding-left: 6rem;
}

.postTxtarea h2 {
  display: flex;
  align-items: center;

  position: relative;
}

.postTxtarea h2::before {
  counter-increment: textSrea;
  content: counter(textSrea);

  font-weight: bold;
  font-size: 7rem;
  font-style: oblique;

  color: #ffeed9;

  padding: 1rem;
}
.gallery {
  width: 100%; /* 父容器寬度 */
  max-width: 800px; /* 設定最大寬度，根據設計需求調整 */
  height: 500px;
  max-height: 500px;
  margin: 0 auto; /* 居中對齊 */

  padding: 2rem 0;
}
.gallery .swiper-slide {
  object-fit: contain;

  overflow: hidden;

  border-radius: 1rem;
}

.gallery .swiper-button-prev,
.gallery .swiper-button-next {
  width: 2.5rem;
  height: 2.5rem;
}
.gallery .swiper-button-prev::after {
  font-size: 0;

  width: 5rem;
  height: 5rem;
  background-image: url(/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.gallery .swiper-button-next::after {
  font-size: 0;

  width: 5rem;
  height: 5rem;
  background-image: url(/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.mySwiper {
  width: 100%; /* 繼承父容器的寬度 */
  height: 100%; /* 高度根據內容自動調整 */
}
.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.mySwiper img {
  height: 100%;
  width: auto;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: #333;
}

.post-image {
  width: 50%;

  padding-left: 6rem;
}
.post-image img {
  border-radius: 0%;
}

.relatedPosts {
  border-top: 1px solid #d0d0d0;

  padding-top: 4rem;
}

.relatedPosts h2 {
  width: fit-content;
  position: relative;
  padding-top: 2rem;
}
.relatedPostsH2 {
  padding-bottom: 2rem;
}

.submitPostDate {
  position: relative;
  grid-area: date;

  color: var(--goyoursYellow);
}
.submitPostDate p {
  padding-left: 3rem;
  margin: 0;
}
.submitPostDate::before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);

  background-image: url(/圓形logo.png);
  background-position: center;
  background-size: cover;
}

.relatedpostsList {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding-top: 4rem;
}
.relatedpostsLink {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'img title'
    'img catrgory'
    'img date';
  column-gap: 2rem;
}
.relatedpostsLink img {
  grid-area: img;
  width: 6rem;
  height: 6rem;

  object-fit: cover;

  border-radius: 1rem;
  transition-duration: 0.2s;
}
.relatedpostsLink:hover img {
  transition-duration: 0.2s;
  transform: scale(0.8);
}
.relatedpostsLink h3 {
  grid-area: title;

  margin: 0;
}
.relatedpostsLink ul {
  grid-area: catrgory;
  display: flex;
  gap: 1rem;

  color: var(--goyoursYellow);
}

table {
  margin: 0 auto;

  text-align: center;

  border: 2px solid #d0d0d0;
}

.nopost {
  width: 0.8rem;
  height: fit-content;

  margin-left: 0.5rem;
}
.nopost img {
  display: block;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .postDetailSection {
    padding-top: 4rem;
    margin-top: 0;
    grid-template-columns: 1fr 2fr;

    gap: 2rem;

    box-sizing: border-box;
  }
  .postDetaildate::before {
    width: 1.5rem;
    height: 1.5rem;
  }
  .postDetaildate p {
    padding-left: 2rem;
  }
  .postinfolist {
    flex-wrap: wrap;
  }
  .postDetailviews {
    gap: 0.5rem;
  }
  .postinfolist ul {
    width: 100%;
    justify-content: space-between;
  }
  .postinfolist ul:last-child {
    justify-content: flex-start;
  }
  .postinfolist ul p {
    margin: 0.5rem 0;
  }

  .postbody h1 {
    font-size: 2rem;

    line-height: 3rem;
  }
  .postCatalog {
    border-radius: 1rem;
  }
  .postCatalog h2 {
    font-size: 1.5rem;
  }
  .postCatalog a {
    font-size: 1rem;
  }
  .postbody ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .postTxtarea h2 {
    font-size: 1.5rem;

    line-height: 3rem;
  }

  .postDetialContactus {
    padding: 4rem 0;
  }

  .relatedpostsLink img {
    width: 7rem;
    height: 7rem;
  }
  .postbody {
    padding-top: 2rem;
  }
  .postbody ul {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.5rem;

    font-size: 0.85rem;

    height: fit-content;
  }
  .postbody ul li {
    height: fit-content;
  }

  .submitPostDate::before {
    width: 1.5rem;
    height: 1.5rem;
  }
  .submitPostDate {
    display: flex;
    align-items: center;
  }
  .submitPostDate p {
    padding-left: 2rem;
  }
  .gallery {
    max-width: 500px;
  }
}

@media screen and (max-width: 480px) {
  .postDetailSection {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .postDetailSection .postcategory {
    display: none;
  }
  .postbody {
    padding-top: 0;
  }
  .postbody img {
    border-radius: 1rem;
  }
  .postinfolist {
    flex-direction: column;
  }
  .postinfolist p {
    margin: 0.5rem 0;

    padding-left: 1.5rem;

    font-size: 0.725rem;
  }
  .postDetaildate::before {
    width: 1rem;
    height: 1rem;
  }
  .viewsicon {
    font-size: 1rem;
  }
  .postDetailviews {
    gap: 0;
  }
  .postDetailviews p {
    padding: 0;
  }
  .postinfolist ul {
    gap: 1rem;
  }
  .postinfolist ul:nth-child(1) {
    justify-content: space-between;
  }
  .postDetailtags p {
    padding: 0;
  }

  .postbody h1 {
    font-size: 1.8rem;
  }
  .postCatalog {
    border-radius: 1rem;
  }
  .postCatalog h2 {
    font-size: 1rem;
  }
  .postCatalog ul {
    font-size: 0.8rem;
  }

  .postTxtarea h2 {
    font-size: 1rem;
    padding: 2rem 0;
  }
  .postTxtarea h2::before {
    position: absolute;

    z-index: -1;
  }
  .postTxtarea p {
    font-size: 0.725rem;
    line-height: 1.5rem;
    padding-left: 0;
  }
  .postTxtarea ul,
  .postTxtarea ol {
    font-size: 0.725rem;

    line-height: 1.5rem;
    padding-left: 1rem;
  }
  .postTxtarea h3 {
    font-size: 0.85rem;

    padding-left: 0;
  }
  .relatedpostH2 h2 {
    font-size: 1rem;
  }

  .relatedpostsList {
    gap: 0;

    padding-top: 2rem;
  }
  .relatedpostsLink {
    width: 80%;

    column-gap: 1rem;

    row-gap: 0.2rem;
    /* margin: 0 auto; */
    padding: 1rem;
    border-radius: 1rem;

    width: 100%;

    box-sizing: border-box;
  }
  .relatedpostsLink img {
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
  }
  .relatedpostsLink h3 {
    font-size: 0.875rem;
  }
  .relatedpostsLink ul {
    font-size: 0.625rem;

    column-gap: 0.5rem;
    row-gap: 0.2rem;

    flex-wrap: wrap;
  }
  .submitPostDate p {
    font-size: 0.75rem;
    padding-left: 1.5rem;
  }
  .submitPostDate {
    height: fit-content;
  }

  .submitPostDate::before {
    width: 1rem;
    height: 1rem;
  }
  .post-image {
    width: 90%;

    padding-left: 0;

    margin: 0 auto;
  }

  .relatedPosts {
    padding-top: 2rem;
  }
  .postDetialContactus {
    padding: 4rem 0;
  }
  table {
    font-size: 0.75rem;
  }

  .gallery .swiper-button-prev::after {
    font-size: 0;

    width: 2rem;
    height: 2rem;
    background-image: url(/arrow-left.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .gallery .swiper-button-next::after {
    font-size: 0;

    width: 2rem;
    height: 2rem;
    background-image: url(/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
