.privacy {
  height: 100%;
}

.privacy .contactusTitle {
  padding: 2rem 10%;

  line-height: 2rem;
}

.privacy-content {
  width: 80vw;
  margin: 0 auto;

  padding: 2rem 0;

  line-height: 2rem;
}

.privacy h3,
.privacy h4 {
  color: var(--goyoursYellow);
}
.privacy h3 {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.privacy h3 > span {
  margin: 0;
}

.privacy h4 {
  position: relative;

  padding: 0 2rem;

  margin-left: 1rem;
}
.privacy h4::before {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%) translateX(-200%);

  background-color: var(--goyoursYellow);
}

.privacy-content p {
  padding: 0 2rem;
}

.privacy-content p:last-child {
  text-align: center;

  font-size: 1.25rem;

  color: var(--goyoursYellow);

  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding-top: 4rem;
}

.privacy-content p:last-child::before {
  content: url(/goyoursbear-Y.svg);
  width: 1.5rem;
}

.goyoursbear {
  width: 5%;
}
.goyoursbear svg {
  fill: none;
  stroke: #f4bf00;
  stroke-width: 15;
}
