.schoolDetailwrapper {
  /* width: 90vw; */
  margin: 0 auto;
}
.schoolDetailPage {
  width: 90vw;
  margin: 0 auto;

  position: relative;
  display: flex;
  gap: 3rem;

  padding: 15rem 0 10rem 0;
}

.schoolDetailH1 {
  width: 80vw;
  margin: 0 auto;
}
.schoolDetailH1 h1 {
  width: fit-content;
  display: flex;
  flex-direction: column;

  position: relative;
}

.picSlider {
  width: 50%;
  height: 100%;
}

.upperSlider {
  height: 24rem;

  border-radius: 1rem;

  margin-bottom: 1rem;
}
.upperSlider img,
.downSlider img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.downSlider {
  height: 5rem;
}

.picSlider img {
  width: 100%;

  border-radius: 0.5rem;
}
.schoolUnfoSection {
  position: relative;
}
.schoolUnfoSection h1 {
  width: 75%;

  border-bottom: 2px solid #d0d0d0;
  padding-bottom: 1rem;
  margin-top: 0;
}
.schoolInfo {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}
.schoolInfo li {
  display: flex;
  justify-content: start;

  gap: 1.3rem;
}
.schoolInfo ul {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 0.2rem;
}
.schoolInfo ul > li {
  line-height: 2rem;
}

.schoollogo {
  position: absolute;
  top: 0;
  right: 0;

  width: 8rem;
}

.schoolDetailicon {
  color: var(--goyoursYellow);

  font-size: 1.5rem;
}

/*Modal*/

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.modalContent {
  border-radius: 10px;
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  object-fit: cover;
  overflow: hidden;
}

.modalimgWrapper {
  position: relative;
}

.modalImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.closeModalBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;

  font-size: 1.5rem;

  background-color: transparent;
  color: white;
  border: none;

  cursor: pointer;
}

.featurestxt {
  /* width: 60vw; */
  /* margin: 0 auto; */
  padding-top: 4rem;

  counter-reset: section;
}

.featurestxt ul {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  gap: 2rem;

  padding-bottom: 6rem;

  position: relative;
  z-index: 2;
}
.featurestxt li {
  line-height: 2rem;
  font-size: 1.1rem;
}
.featurestxt p {
  padding-left: 6rem;
}
.featurestxt h2::before {
  counter-increment: section;
  content: counter(section, decimal-leading-zero);

  font-weight: bold;

  background-color: var(--goyoursYellow);
  color: #fff;

  padding: 1.5rem;
  margin-right: 1rem;

  clip-path: circle(40%);
}
.video {
  position: relative;

  z-index: 1;
}

.videoH1 {
  width: 80vw;
  margin: 0 auto;
}
.video h1 {
  width: fit-content;
  display: flex;
  flex-direction: column;

  position: relative;
}

.videoItself {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 4rem;
}

.backToschoolList {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8rem;

  position: relative;
}
.videoBg {
  position: absolute;
  width: 36%;

  bottom: 0;
  right: 0;

  z-index: -1;
}

.backToschoolList a {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background-color: #f8b300;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;

  border-radius: 20rem;

  padding: 0.8rem 5rem;

  width: fit-content;
}

.schooldetailContactus {
  width: 90vw;

  margin: 0 auto;

  padding-bottom: 8rem;
}

.swiper-button-prev,
.swiper-button-next {
  /* background-color: #414042; */
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 100rem;
  color: #fff !important;
  font-weight: bold;
  /* opacity: 0.5; */
}

.schoolConditions {
  width: 80vw;
  margin: 0 auto;

  padding-bottom: 4rem;
}
.schoolConditions-detail {
  width: 80%;

  margin: 0 auto;

  padding: 4rem;
}
.conditionsList {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  font-size: 1.25rem;

  padding: 4rem;

  border-radius: 1rem;

  background-color: #fff;
}
.conditionTitle {
  background-color: var(--goyoursYellow);
  color: #fff;

  padding: 0.3rem;

  font-weight: bold;

  border-radius: 0.3rem;

  margin-right: 1rem;
}

@media screen and (max-width: 480px) {
  .schoolDetailPage {
    flex-direction: column-reverse;

    padding: 10rem 0 2rem 0;
  }
  .picSlider {
    width: 100%;
  }
  .swiper-free-mode {
    display: none;
  }
  .upperSlider {
    height: 15rem;
  }

  .schoolUnfoSection h1 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }
  .schoollogo {
    top: -4%;
    width: 4rem;
  }

  .schoolInfo {
    font-size: 0.75rem;

    gap: 1rem;
  }
  .schoolInfo li {
    line-height: 1.5rem;
  }
  .schoolInfo li svg {
    font-size: 1.3rem;
  }

  .schoolDetailH1 h1 {
    font-size: 1rem;
  }

  .schoolConditions {
    width: 90vw;

    padding-bottom: 0;
  }

  .schoolConditions-detail {
    box-sizing: border-box;
    width: 100%;

    padding: 4rem 0;
  }

  .conditionsList {
    padding: 2rem;

    gap: 1.5rem;
  }

  .conditionsList li {
    font-size: 0.75rem;

    display: flex;
    justify-content: flex-start;
  }
  .conditionsList span {
    height: 100%;
  }

  .condition-wrapper {
    flex: 1;

    line-height: 1.5rem;
  }

  .featurestxt ul {
    width: 90vw;

    padding-bottom: 2rem;
  }
  .featurestxt h2 {
    font-size: 1rem;
  }
  .featurestxt h2::before {
    clip-path: circle(30%);
  }
  .featurestxt p {
    font-size: 0.875rem;
    line-height: 1.5rem;

    padding-left: 5rem;
  }

  .videoH1 h1 {
    font-size: 1rem;
  }

  .videoItself {
    width: 90vw;

    margin: 0 auto;
  }
  iframe {
    height: 15rem;
  }
  .backToschoolList {
    padding: 4rem;
  }

  .backToschoolList a {
    font-size: 0.75rem;

    padding: 0.5rem 3rem;
  }
  .schooldetailContactus {
    padding-bottom: 4rem;
  }
  .videoBg {
    width: 100%;
    right: -40%;
  }
}
