.schoolDetailwrapper {
  width: 90vw;
  margin: 0 auto;
}
.schoolDetailPage {
  position: relative;
  display: flex;
  gap: 3rem;

  padding: 15rem 0 10rem 0;
}

.picSlider {
  width: 50%;
  height: 100%;
}

.upperSlider {
  height: 24rem;

  border-radius: 1rem;

  margin-bottom: 1rem;
}
.upperSlider img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.downSlider {
  height: 5rem;
}
.downSlider img {
  height: 100%;

  object-fit: cover;
}

.picSlider img {
  width: 100%;

  border-radius: 0.5rem;
}
.schoolUnfoSection {
  position: relative;
}
.schoolUnfoSection h1 {
  width: 75%;

  border-bottom: 2px solid #d0d0d0;
  padding-bottom: 1rem;
  margin-top: 0;
}
.schoolInfo {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}
.schoolInfo li {
  display: flex;
  justify-content: start;

  gap: 1.3rem;
}
.schoolInfo ul {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 0.2rem;
}
.schoolInfo ul > li {
  line-height: 2rem;
}

.schoollogo {
  position: absolute;
  top: 0;
  right: 0;

  width: 8rem;
}

.schoolDetailicon {
  color: var(--goyoursYellow);

  font-size: 1.5rem;
}

/*Modal*/

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.modalContent {
  border-radius: 10px;
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  object-fit: cover;
  overflow: hidden;
}

.modalImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.closeModalBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;

  font-size: 1.5rem;

  background-color: transparent;
  color: white;
  border: none;

  cursor: pointer;
}

.features {
  width: 80vw;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

.featurestxt {
  width: 60vw;

  margin: 0 auto;
  padding: 10rem 0;

  counter-reset: section;
}

.featurestxt ul {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}
.featurestxt li {
  line-height: 2rem;
  font-size: 1.1rem;
}
.featurestxt p {
  padding-left: 6rem;
}
.featurestxt h2::before {
  counter-increment: section;
  content: counter(section, decimal-leading-zero);

  font-weight: bold;

  background-color: var(--goyoursYellow);
  color: #fff;

  padding: 1.5rem;
  margin-right: 1rem;

  clip-path: circle(40%);
}

.video h1 {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.videoItself {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 4rem;
}

.backToschoolList {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8rem;
}

.backToschoolList a {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background-color: #f8b300;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;

  border-radius: 20rem;

  padding: 0.8rem 5rem;

  width: fit-content;
}
