.schoolDetailPage {
  position: relative;
  display: flex;
  gap: 2rem;

  width: 90dvw;
  margin: 0 auto;
  margin-top: 200px;
}

.picSlider {
  width: 50%;
}

.schoolInfo {
  line-height: 2rem;
}
.schoolInfo label {
  font-weight: bold;
  margin: 0 0.5rem;
}
