@tailwind base;
@tailwind components;
@tailwind utilities;

.studying-in-jp-section {
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: #3a270f;
}

.guidePage-studying-top {
  width: 100vw;
  height: 100vh;

  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;

  z-index: 0;

  padding-bottom: 4%;
}

.guide-text {
  text-align: center;

  line-height: 2rem;

  font-size: 0.875rem;

  position: relative;

  margin-top: 0;

  z-index: 2;
}

.studying-rightboy {
  --imgBase: calc(100vw / 144);
  position: absolute;
  bottom: calc(-4% - 8rem);
  right: 10%;
  width: calc(36 * var(--imgBase));
}
.studying-rightboy img {
  width: 100%;
  max-width: none;
  height: auto;
  vertical-align: top;
}
.studying-leftgirl {
  --imgBase: calc(100vw / 144);
  position: absolute;
  bottom: calc(-4% - 8rem);
  left: 10%;
  width: calc(36 * var(--imgBase));
}
.studying-leftgirl img {
  width: 100%;
  max-width: none;
  height: auto;
  vertical-align: top;
}

.guide-animation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;

  padding: 0 1rem;

  width: 100vw;
  height: 120vh;
  display: flex;
  justify-content: space-between;
}

.guide-animation-right,
.guide-animation-left {
  display: flex;

  gap: 0.3rem;
}

.guide-pic-animation-wrapper {
  /* position: absolute; */
  overflow: hidden;

  border-radius: 1rem;

  /* margin: 0.5rem 0; */

  --wrapperWidth: calc(100vw / 144);

  /* width: calc(16 * var(--wrapperWidth)); */
  /* height: calc(24 * var(--wrapperWidth)); */
  width: 12rem;
  height: 18rem;
}

.left-picWrapper,
.right-picWrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.guide-pic-animation-left,
.guide-pic-animation-right {
  display: flex;
  flex-direction: column;
}

.guide-pic-animation-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  display: block;
}
.guide-text-animation-wrapper {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  height: 120vh;
}
.guide-text-animation-wrapper p {
  --fontSize: calc(100vw / 130);
  /* font-size: calc(1 * var(--fontSize)); */
  font-size: 0.9rem;

  margin: 0;

  writing-mode: vertical-lr;
  /* width: calc(1.1 * var(--fontSize)); */
  width: 1.1rem;

  color: var(--goyoursYellow);
  font-weight: bold;
  opacity: 0.5;
}

.guide-title {
  width: 100%;

  padding-top: 10vh;
}
.guide-title h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.guide-title h1::after {
  content: '';
  width: 4rem;
  margin: 0 auto;
  padding-top: 1rem;
  border-bottom: 0.6rem solid var(--goyoursYellow);
}

.guide-content {
  width: 100vw;
  height: 100%;

  background-color: var(--goyoursBgColor);

  position: relative;

  z-index: 1;

  margin-top: 8rem;
}
.guide-content::before {
  position: absolute;
  content: '';
  background-image: url(/round-bg.svg);
  display: block;
  width: 100vw;
  height: 20rem;
  background-size: 100%;
  background-position: bottom;

  background-repeat: no-repeat;
  top: 0;
  transform: translateY(-98%);
}

.aboutstudyingH2 {
  width: 60vw;
  margin: 0 auto;

  /* padding-top: 8rem; */
}

.aboutstudyingH2 h2 {
  width: fit-content;
  position: relative;
  padding-top: 2rem;
}

.studying-page-button {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 4rem;

  padding-top: 6rem;
}

.to-all-school {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url(/guidePage/slide003.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20rem;

  border-radius: 1.5rem;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  transition-duration: 0.2s;

  cursor: pointer;

  text-decoration: none;
}

.to-QA-page {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6)
    ),
    url(/guidePage/slide017.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 20rem;

  border-radius: 1.5rem;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  transition-duration: 0.2s;

  cursor: pointer;

  text-decoration: none;
}

.to-all-school h3,
.to-QA-page h3 {
  color: var(--goyoursBgColor);
  font-size: 1.25rem;

  width: 100%;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin: 0;
}

.white-icon img {
  width: 1.5rem;
  height: 1.5rem;
}

.button-arrow {
  color: #fff;
  font-size: 3rem;

  border: 1px solid #fff;
  border-radius: 50%;

  padding: 2rem;
}

.to-all-school:hover,
.to-QA-page:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 1px 1px #3a340f;

  transition-duration: 0.2s;
}

.guide-morePost {
  padding-top: 8rem;

  width: 60vw;

  margin: 0 auto;
}

.guide-page-contact-wrapper {
  width: 90vw;
  margin: 0 auto;

  padding: 8rem 0;
}

/****/

.goyoursbear-line {
  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}
.goyoursbear {
  width: 5%;
  margin: 0 auto;
}
/* .scrollDown-side-studyingPage {
  display: none;
} */
.scrollDown-side-studyingPage .scrollDown-side {
  right: 47%;
  left: unset;
  bottom: -10%;
  top: unset;
}

.scrollDown-side-studyingPage p {
  color: #ffcd8d;
}
.scrollDown-side-studyingPage .scrollDown-side-Line::after {
  background-color: #ffcd8d;
}
.scrollDown-side-studyingPage .scrollDown-side-Dot {
  background-color: #ffcd8d;
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .guide-pic-animation-wrapper {
    height: 16rem;
  }
  .guidePage-studying-top::before,
  .guidePage-studying-top::after {
    width: 300px;
    height: 500px;
  }
  .guidePage-studying-top::after {
    right: 13%;
  }
  .silde-text-wrapper-right01 {
    transform: unset;
  }
  .right02 {
    right: 16%;
  }
  .left02 {
    left: 16%;
  }
  .guide-vertical-slide-left {
    left: calc(2% + 15px);
  }
}
@media (min-width: 769px) and (max-width: 820px) {
  .silde-text-wrapper-right01.right02 {
    top: calc(55.69px + 18%);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .guidePage-studying-top {
    height: 100vh;
  }

  .guide-animation-wrapper {
    padding: unset;
    padding-top: 4rem;
  }
  .guide-pic-animation-wrapper {
    /* margin: 0 0.5rem; */

    width: calc(32 * var(--wrapperWidth));
    height: 8rem;
  }
  .guide-animation-left {
    flex-direction: column;
  }
  .guide-text-animation-wrapper {
    height: fit-content;
  }
  .guide-text-animation-wrapper p {
    writing-mode: horizontal-tb;
    width: fit-content;

    font-size: 0.85rem;
  }

  .studying-rightboy {
    --imgBase: calc(100vw / 144);
    position: absolute;
    bottom: calc(0% - 8rem);
    right: 0;
    width: calc(55 * var(--imgBase));
  }
  .studying-leftgirl {
    --imgBase: calc(100vw / 144);
    position: absolute;
    bottom: calc(0% - 8rem);
    left: 0;
    width: calc(55 * var(--imgBase));
  }

  .guide-title {
    padding-top: 0;
    margin-top: -10%;
  }
  .guide-title h1 {
    font-size: 1.5rem;
  }
  .guide-text {
    font-size: 0.875rem;
  }
  .aboutstudyingH2 {
    width: 90vw;

    padding-top: 4rem;
  }
  .aboutstudyingH2 h2 {
    font-size: 1.5rem;
  }
  .studying-page-button {
    width: 80vw;
    gap: 2rem;
  }

  .studying-page-button a {
    width: 100%;
    height: 16rem;

    box-sizing: border-box;
  }

  .button-arrow {
    font-size: 1.5rem;

    padding: 1.3rem;
  }

  .guide-morePost > .morepostH2 {
    width: 90vw;
  }
  .guide-morePost {
    width: 90vw;
  }
  .scrollDown-side-studyingPage .scrollDown-side {
    right: 47%;
    left: unset;

    bottom: 10%;
    top: unset;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .guidePage-studying-top {
    height: 80vh;
  }

  .guide-animation-wrapper {
    padding: unset;
    padding: 0 0.5rem;
    padding-top: 4rem;
  }
  .guide-pic-animation-wrapper {
    /* margin: 0 0.5rem; */

    width: calc(32 * var(--wrapperWidth));
    height: 6rem;
  }
  .guide-animation-left {
    flex-direction: column;
  }
  .guide-text-animation-wrapper {
    height: fit-content;
  }
  .guide-text-animation-wrapper p {
    writing-mode: unset;

    width: fit-content;

    font-size: 0.85rem;
  }

  .guide-title {
    padding-top: 28%;
  }
  .guide-title h1 {
    font-size: 1.5rem;
  }
  .guide-text {
    font-size: 0.875rem;
  }
  .aboutstudyingH2 {
    width: 90vw;
  }
  .aboutstudyingH2 h2 {
    font-size: 1.5rem;
  }
  .studying-page-button {
    width: 80vw;
    gap: 2rem;
  }

  .studying-page-button a {
    width: 100%;
    height: 16rem;

    box-sizing: border-box;
  }

  .button-arrow {
    font-size: 1.5rem;

    padding: 1.3rem;
  }

  .guide-morePost {
    width: 90vw;
  }

  .guide-morePost > .morepostH2 {
    width: 90vw;
  }
  /* .guide-morePost .submitPostList > .submitPostLink {
    width: 80%;
  } */
}

@media (min-width: 376px) and (max-width: 500px) {
  .scrollDown-side-studyingPage {
    position: absolute;
    display: block;
    bottom: 5%;
    left: 52%;
    transform: translateX(-44%) scale(0.7);
  }
  .guide-animation-wrapper {
    padding: unset;
    padding: 0 0.5rem;
  }

  .guide-text-animation-wrapper p {
    /* --fontSize: calc(100vw / 130); */
    /* font-size: calc(3 * var(--fontSize)); */

    margin: 0;

    writing-mode: vertical-lr;
    width: fit-content;

    color: var(--goyoursYellow);
    font-weight: bold;
    opacity: 0.5;
  }

  .studying-rightboy {
    --imgBase: calc(100vw / 144);
    position: absolute;
    bottom: calc(0% - 8rem);
    right: 0;
    width: calc(50 * var(--imgBase));
  }
  .studying-leftgirl {
    --imgBase: calc(100vw / 144);
    position: absolute;
    bottom: calc(0% - 8rem);
    left: 0;
    width: calc(50 * var(--imgBase));
  }

  .scrollDown-side-studyingPage p {
    color: #ffcd8d;
  }
  .scrollDown-side-studyingPage .scrollDown-side-Line::after {
    background-color: #ffcd8d;
  }
  .scrollDown-side-studyingPage .scrollDown-side-Dot {
    background-color: #ffcd8d;
  }
  .scrollDown-side-studyingPage .scrollDown-side {
    right: 0;
    transform: translate(20%);
  }

  .guidePage-studying-top {
    justify-content: flex-start;

    height: 80vh;
  }
  .goyoursbear {
    width: 10%;
  }
  .guide-text {
    /* font-size: 0.75rem; */
    line-height: 2rem;
  }
  .guide-title {
    padding-top: 20%;
  }
  .guide-title h1::after {
    width: 2rem;
    border-bottom: 0.2rem solid var(--goyoursYellow);
  }
  .guide-title h1 {
    font-size: 1rem;
  }
  .aboutstudyingH2 h2 {
    font-size: 1rem;
  }
  .aboutstudyingH2 {
    width: 90vw;
    padding-top: 4rem;
  }
  .studying-page-button {
    width: 80vw;
    grid-template-columns: 1fr;

    padding-top: 3rem;

    gap: 2rem;
  }
  .studying-page-button a {
    box-sizing: border-box;

    height: 16rem;
  }
  .to-all-school h3,
  .to-QA-page h3 {
    font-size: 0.875rem;
  }
  .white-icon img {
    width: 1rem;
    height: 1rem;
  }
  .button-arrow {
    font-size: 1.5rem;

    padding: 1rem;
  }
  .guide-page-contact-wrapper {
    padding: 4rem 0;
  }
  .guide-morePost {
    padding-top: 4rem;

    width: 90vw;
  }

  .guide-morePost {
    width: 90vw;
  }
}
@media screen and (max-width: 375px) {
  .scrollDown-side-studyingPage {
    position: absolute;
    display: block;
    bottom: 0%;
    left: 52%;
    transform: translateX(-44%) scale(0.7);
  }

  .guide-text-animation-wrapper p {
    --fontSize: calc(100vw / 130);
    font-size: calc(3 * var(--fontSize));

    margin: 0;

    writing-mode: vertical-lr;
    width: fit-content;

    color: var(--goyoursYellow);
    font-weight: bold;
    opacity: 0.5;
  }

  .scrollDown-side-studyingPage p {
    color: #ffcd8d;
  }
  .scrollDown-side-studyingPage .scrollDown-side-Line::after {
    background-color: #ffcd8d;
  }
  .scrollDown-side-studyingPage .scrollDown-side-Dot {
    background-color: #ffcd8d;
  }
  .scrollDown-side-studyingPage .scrollDown-side {
    right: 0;
    bottom: -10%;
    transform: translate(20%);
  }
  .scrollDown-side-studyingPage {
    bottom: -10%;
  }

  .guidePage-studying-top {
    justify-content: flex-start;

    height: 75vh;
  }
  .guide-animation-wrapper {
    padding: 0 0.5rem;
  }
  .goyoursbear {
    width: 10%;
  }
  .guide-text {
    /* font-size: 0.625rem; */
    line-height: 1.8rem;
  }
  .guide-title {
    padding-top: 20%;
  }

  .guide-title h1::after {
    width: 2rem;
    border-bottom: 0.2rem solid var(--goyoursYellow);
  }
  .guide-title h1 {
    font-size: 1rem;
  }
  .aboutstudyingH2 h2 {
    font-size: 1rem;
  }
  .aboutstudyingH2 {
    width: 90vw;
    padding-top: 2rem;
  }
  .studying-page-button {
    width: 80vw;
    grid-template-columns: 1fr;

    padding-top: 3rem;

    gap: 2rem;
  }
  .studying-page-button a {
    box-sizing: border-box;

    height: 16rem;
  }
  .to-all-school h3,
  .to-QA-page h3 {
    font-size: 0.875rem;
  }
  .white-icon img {
    width: 1rem;
    height: 1rem;
  }
  .button-arrow {
    font-size: 1.5rem;

    padding: 1rem;
  }
  .guide-page-contact-wrapper {
    padding: 4rem 0;
  }
  .guide-morePost {
    padding-top: 4rem;

    width: 90vw;
  }
}

@media screen and (max-width: 599px) and (min-width: 500px) {
  .studying-rightboy {
    right: 2%;
  }
  .studying-leftgirl {
    left: 0;
  }
}

@media (max-height: 667px) and (max-width: 375px) {
  .studying-rightboy {
    --imgBase: calc(100vh / 144); /* 使用視窗高度來計算 */
    position: absolute;
    bottom: calc(-20% - 8rem);
    right: 0;
    width: calc(30 * var(--imgBase));
  }
  .studying-leftgirl {
    --imgBase: calc(100vh / 144); /* 使用視窗高度來計算 */
    position: absolute;
    bottom: calc(-20% - 8rem);
    left: 0;
    width: calc(30 * var(--imgBase));
  }
}
