.contactusComponent {
  position: relative;

  background-color: #ffeed9;
  width: 70vw;
  max-width: 1200px;
  margin: 0 auto;

  border-radius: 3rem;

  padding: 0 6rem 4rem 6rem;
  margin-top: -5rem;
  margin-bottom: 8rem;
}
.contactusComponent h1 {
  font-size: 1350%;
  /* font-size: 12rem; */
  margin: 0;

  color: #ffe2bc;
  text-align: center;

  position: relative;

  font-family: 'Lalezar', system-ui;
}

.contactusTitle {
  /* padding: 6rem 10%; */
  color: #fff;

  width: 80vw;

  position: absolute;
  top: 0;
  left: 4%;
  transform: translateY(-110%);
}

.contactimg {
  position: absolute;
  top: 20%;
  right: 10%;
  display: flex;
  flex-direction: column;

  width: 20%;
}
.contactimg img:nth-child(2) {
  opacity: 0.3;
  margin-top: -10%;
}

.contactForm {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  font-weight: bold;
  counter-reset: contactus;
}

.contactForm p {
  margin: 0;
}

.contactForm p::before {
  counter-increment: contactus;
  content: counter(contactus);

  font-weight: bold;
  font-style: oblique;

  color: #ffeed9;

  padding: 1rem;
  margin-right: 1rem;

  background-color: var(--goyoursYellow);

  clip-path: circle(40%);
}

.contactForm input {
  flex-grow: 1;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #d0d0d0;
  font-size: 1.1rem;
  background-color: transparent !important; /* 確保背景透明 */
  transition: border-color 0.3s ease; /* 添加邊框變化效果 */
}

.contactForm input:focus {
  border-color: #ff9900 !important; /* 聚焦時邊框顏色 */
  outline: none; /* 移除默認聚焦框 */
}

/* Autofill 背景處理 */
input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #000; /* 字體顏色 */
}

.contactForm label {
  width: 50%;
  display: flex;
  align-items: center;
}
.contactForm label:nth-of-type(7),
.contactForm label:nth-of-type(8) {
  width: 100%;
  align-items: start;
}
.contactForm label:nth-of-type(7) input {
  flex-grow: 0;
  height: 1rem;
  background-color: transparent;
}
.contactForm label:nth-of-type(8) textarea {
  flex-grow: 1;

  height: 12rem;
  width: auto;

  border-radius: 1rem;
  background-color: transparent;

  font-size: 1.2rem;
  padding: 1rem;
}

.caseOptions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.caseOptions label {
  width: 100%;
}
.contactForm p {
  width: fit-content;
}

.privicy label {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.privicy a {
  border-bottom: 1px solid #999;
}
.privicy p::before {
  display: none;
}

.submitBtn {
  border-radius: 50rem;
  border: none;
  padding: 1rem 3rem;

  font-weight: bold;
  font-size: 1.2rem;

  color: #fff;
  background-color: var(--goyoursYellow);

  width: fit-content;
  margin: 0 auto;

  cursor: pointer;
}

.formlogo {
  display: flex;

  width: 15%;
  margin: 0 auto;
}

.subitedtxt {
  font-weight: bold;

  text-align: center;

  margin-top: 2rem;
}
