.contactusComponent {
  position: relative;

  background-color: #ffeed9;
  width: 70vw;
  margin: 0 auto;

  border-radius: 3rem;

  padding: 0 6rem 6rem 6rem;
  margin-top: -5rem;
}
.contactusComponent h1 {
  font-size: 12rem;
  margin: 0;

  color: #ffe2bc;
  text-align: center;

  margin-bottom: 4rem;
}

.contactimg {
  position: absolute;
  top: 20%;
  right: 10%;
  display: flex;
  flex-direction: column;

  width: 20%;
}
.contactimg img:nth-child(2) {
  opacity: 0.3;
  margin-top: -10%;
}

.contactForm {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  font-weight: bold;
  counter-reset: contactus;
}

.contactForm p {
  margin: 0;
}

.contactForm p::before {
  counter-increment: contactus;
  content: counter(contactus);

  font-weight: bold;
  font-style: oblique;

  color: #ffeed9;

  padding: 1rem;
  margin-right: 1rem;

  background-color: var(--goyoursYellow);

  clip-path: circle(40%);
}

.contactForm input {
  flex-grow: 1;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #d0d0d0;
  background-color: transparent;
}

.contactForm label {
  width: 50%;
  display: flex;
  align-items: center;
}
.contactForm label:nth-of-type(7),
.contactForm label:nth-of-type(8) {
  width: 100%;
  align-items: start;
}
.contactForm label:nth-of-type(7) input {
  flex-grow: 0;
  height: 1rem;
  background-color: transparent;
}
.contactForm label:nth-of-type(8) textarea {
  flex-grow: 1;

  height: 12rem;
  width: auto;

  border-radius: 1rem;
  background-color: transparent;

  font-size: 1.2rem;
  padding: 1rem;
}

.caseOptions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.caseOptions label {
  width: 100%;
}
.contactForm p {
  width: fit-content;
}

.privicy {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.privicy a {
  border-bottom: 1px solid #999;
}
.privicy p::before {
  display: none;
}

.submitBtn {
  border-radius: 50rem;
  border: none;
  padding: 1rem 2rem;

  font-weight: bold;

  color: #fff;
  background-color: var(--goyoursYellow);

  width: fit-content;
  margin: 0 auto;
}

.formlogo {
  display: flex;

  width: 20%;
  margin: 0 auto;
}

.subitedtxt {
  font-weight: bold;

  text-align: center;

  margin-top: 5rem;
}

.submitedPostArea h2 {
  width: 60%;
  margin: 0 auto;
  padding-top: 5rem;
}
.submitedPostArea span {
  border-bottom: 2px solid #d0d0d0;

  padding-bottom: 0.5rem;
}

.submitPostList {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding-top: 5rem;
}

.submitPostLink {
  width: 60%;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'img title'
    'img catrgory'
    'img date';
  column-gap: 2rem;

  margin: 0 auto;
}
.submitPostLink img {
  grid-area: img;
  width: 10rem;
  height: 10rem;

  object-fit: cover;

  border-radius: 1rem;
}
.submitPostLink h3 {
  grid-area: title;
}
.submitPostLink ul {
  grid-area: catrgory;
  display: flex;
  gap: 1rem;

  color: var(--goyoursYellow);
}
.submitPostDate {
  position: relative;
  grid-area: date;

  color: var(--goyoursYellow);
}
.submitPostDate p {
  padding-left: 3rem;
}
.submitPostDate::before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);

  background-image: url(/src/assets/圓形logo.png);
  background-position: center;
  background-size: cover;
}
