.goyoursbearonfaqs {
  position: absolute;

  bottom: 100%;
  width: 4rem;
}

.fqa-KV {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(/KV/KV_about_17.JPG);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 90vh;
}

.goyoursbear-line {
  fill: none;
  stroke: #f4bf00;
  stroke-width: 15;
}

.faq-title {
  font-family: 'inter', system-ui;
}
.fqa-wrapper {
  padding-top: 6rem;
  width: 70vw;
  margin: 0 auto;
}
.fqa-body {
  clip-path: ellipse(200% 100% at 50% 100%);

  background-color: #fff8ef;

  margin-top: -10%;

  padding-bottom: 8rem;

  width: 100vw;
  height: 100%;

  position: relative;

  will-change: clip-path, transform;
  transform: translateZ(0); /* 确保硬件加速 */
}

.qaSection h1 {
  display: flex;
  flex-direction: column;

  text-align: center;
}
.qaSection h1::after {
  content: '';
  width: 4rem;
  margin: 0 auto;

  padding-top: 3rem;
  border-bottom: 0.6rem solid var(--goyoursYellow);
}

.preQA {
  padding-bottom: 2rem;
}

.answer {
  display: flex;
  align-items: start;

  line-height: 2rem;
}
.answer p {
  background-color: #feeecb;

  padding: 1rem;

  margin: 0;

  width: 100%;

  border-radius: 0.5rem;
}
.question {
  display: flex;
  align-items: center;

  padding-bottom: 1rem;
}
.Qmark {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;

  width: 3rem;
  height: 3rem;

  background-color: #414042;
  color: #fff;

  clip-path: circle(40%);

  margin-right: 2rem;
}
.answerLogo {
  display: flex;
  justify-content: center;
  align-items: center;

  clip-path: circle(40%);
  width: 3rem;
  height: 3rem;

  margin-right: 2rem;
}
.answerLogo img {
  height: 80%;
}

.part1 {
  padding-bottom: 4rem;
  padding-top: 4rem;

  border-bottom: 3px solid #e8e4e0;
}
.part2 {
  padding-top: 8rem;
}
.part1 h2,
.part2 h2 {
  position: relative;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .fqa-body {
    -webkit-clip-path: ellipse(300% 100% at 50% 100%);
    clip-path: ellipse(300% 100% at 50% 100%);
    will-change: clip-path; /* 提前优化 */
    transform: translateZ(0); /* 触发 GPU 加速 */

    box-sizing: border-box;

    margin-top: -20%;
  }
  .fqa-wrapper {
    width: 90vw;
  }
}

@media screen and (max-width: 480px) {
  .fqa-KV {
    background: url(/KV/KV_about_17.JPG);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 90vh;
  }
  .fqa-body {
    clip-path: ellipse(500% 100% at 50% 100%);
    /* background-color: red; */
    margin-top: -20%;

    padding-bottom: 4rem;

    will-change: clip-path, transform;
    transform: translateZ(0); /* 确保触发 GPU 加速 */
  }

  .fqa-wrapper {
    /* clip-path: ellipse(500% 100% at 50% 100%); */

    background-color: #fff8ef;
    width: 100vw;

    padding: 2rem 1rem 0 1rem;

    box-sizing: border-box;

    will-change: clip-path, transform;
    transform: translateZ(0); /* 确保触发 GPU 加速 */
  }
  .qaSection h1 {
    font-size: 1rem;
  }
  .qaSection h1::after {
    width: 3rem;
    border-bottom: 0.3rem solid var(--goyoursYellow);
    padding-top: 1rem;
  }
  .part1 h2,
  .part2 h2 {
    font-size: 1rem;
  }
  .part2 {
    padding-top: 6rem;
  }
  .goyoursbearonfaqs {
    width: 3rem;
  }
  .question h3 {
    font-size: 0.85rem;
  }
  .answer p {
    font-size: 0.725rem;
  }
  .Qmark,
  .answerLogo {
    margin-right: 1rem;
  }
}
