.goyoursbear-component {
  position: absolute;
  margin: 0 auto;
  right: -80%;
  top: 30%;
}

.goyoursBearJob {
  position: absolute;
  margin: 0 auto;
  right: -32%;
  top: 30%;
}

.goyoursbear-morepost {
  position: absolute;
  right: -130%;
  top: -90%;
}

.goyoursbear-relatedpost {
  position: absolute;
  right: -56%;
  top: 8%;
}
