.goyoursbear-component {
  position: absolute;
  margin: 0 auto;
  right: -80%;
  top: 30%;

  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}

.goyoursbear-line {
  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}

.goyoursBearJob {
  position: absolute;
  margin: 0 auto;
  right: -32%;
  top: 40%;

  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}

.goyoursbear-morepost {
  position: absolute;
  right: -150%;
  top: 10%;

  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}

.goyoursbear-relatedpost {
  position: absolute;
  right: -70%;
  top: 8%;

  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}

.goyoursbear-component-school {
  position: absolute;
  right: -54%;
  top: 30%;

  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}

.goyoursbear-aboutstudying {
  position: absolute;
  right: -150%;
  top: 10%;

  fill: none;
  stroke: var(--goyoursYellow);
  stroke-width: 15;
}

@media screen and (max-width: 480px) {
  .goyoursbear-component svg {
    /* width: 8rem; */
    height: 2.5rem;
  }
  .goyoursbear-component {
    top: 32%;
    right: -210%;
  }
  .goyoursbear-line {
    stroke-width: 20 !important;
  }
  .goyoursBearJob svg {
    height: 2.5rem;
  }
  .goyoursBearJob {
    right: -60%;
  }
  .goyoursbear-aboutstudying svg {
    height: 2.5rem;
  }
  .goyoursbear-aboutstudying {
    top: 32%;
    right: -210%;
  }
  .goyoursbear-morepost svg {
    height: 2.5rem;
  }
  .goyoursbear-morepost {
    top: 32%;
    right: -210%;
  }
  .goyoursbear-relatedpost svg {
    height: 2.5rem;
  }
  .goyoursbear-relatedpost {
    top: 35%;
    right: -105%;
  }

  .goyoursbear-component-school svg {
    height: 2.5rem;
  }

  .goyoursbear-component-school {
    right: -140%;
    top: 30%;
  }
}
