.openingPage {
  width: 100vw;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: #fff8ef;

  z-index: 999;
  animation: blur 1s 2s forwards;
  transition-delay: -1s;
}

@keyframes blur {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
