.footer {
  position: relative;

  width: 100%;
  height: 100%;
  /* margin-top: 100px; */
  padding: 4rem 0;
  background-color: #414042;

  color: #fff;
  font-weight: bold;

  display: flex;
  justify-content: space-around;
  align-items: start;
}

.footer h3 {
  width: 100%;

  font-size: 1.2rem;
}

/*footerInfo*/
.footerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.businessicon {
  width: 1.2rem;
  height: 1.2rem;

  margin-right: 1rem;
}

/*footerNews*/
.footerNews {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footerNews a,
.footerNews p {
  color: #fff;
}
.footerNews a {
  padding: 0 4rem 0 1rem;
  width: 100%;
}

.footerNewsPosts {
  border: 1px solid #fff;
  border-radius: 1rem;

  display: flex;
}
.footerNewsPosts p {
  margin: 1rem 0 0 0;
}
.footerNewsPosts h4 {
  margin: 0.5rem 0 1rem 0;
}

/*footerMedia*/
.footerMedia {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  row-gap: 2rem;
  column-gap: 3rem;

  width: 20%;
}
.footerMedia li:nth-child(5) {
  display: flex;
  width: 100%;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.footerMedia a {
  color: #fff;
}

/*Top btn*/
.footer button {
  cursor: pointer;

  position: absolute;
  bottom: 4rem;
  right: 4rem;

  background-color: transparent;

  border: 2px solid #fff;
  border-radius: 100rem;
  width: 5rem;
  height: 5rem;

  color: #fff;
  font-weight: bold;
}
@media (min-width: 481px) and (max-width: 1024px) {
  .footer {
    padding: 4rem;

    display: grid;
    grid-template-areas:
      'info news'
      'info media';
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;

    box-sizing: border-box;

    gap: 2rem;

    flex-wrap: wrap;

    font-size: 0.75rem;
  }
  .footerInfo {
    grid-area: info;

    width: 100%;
  }
  .footerNews {
    grid-area: news;

    width: 80%;
  }
  .footerMedia {
    grid-area: media;

    width: 100%;

    column-gap: 2rem;
    row-gap: 1rem;
  }
  .footer h3 {
    color: var(--goyoursYellow);
  }
  .footerMedia li:last-child {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 2rem;
    width: unset;

    /* padding-bottom: 12rem; */
  }
  .footerInfo {
    width: 80%;
  }
  .footerInfo img {
    width: 5rem;
  }
  .footerInfo li {
    font-size: 0.75rem;
  }
  .footerNews {
    width: 90%;
    gap: 1rem;
  }
  .footerNewsPosts a {
    padding: 0.3rem 2rem 0.3rem 1rem;
  }
  .footerNews h3 {
    display: none;
  }
  .footerNews a p {
    font-size: 0.625rem;
  }
  .footerNews h4 {
    font-size: 0.75rem;
  }
  .footerMedia {
    gap: 2rem;
    width: 100%;
    row-gap: 0.5rem;
  }
  .footerMedia > h3 {
    display: none;
  }
  .footerMedia h3 {
    font-size: 0.75rem;
  }
  .footerMedia .icon {
    width: 2rem;
  }
  .footerMedia li:nth-child(5) {
    width: 100%;
    flex-basis: 100%;
  }
  .footer button {
    right: 8%;
    bottom: 8%;
    border: 1px solid #fff;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding: 3rem 2rem;
  }
  .footerInfo,
  .footerNews {
    width: 100%;
  }
  .footer button {
    width: 4rem;
    height: 4rem;
    bottom: 3%;
  }
}
