#root {
  color: #333;
}

a {
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.icon {
  font-size: 20px;
}

button {
  cursor: pointer;
}

.postLoading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;

  font-weight: bold;

  padding-top: 4rem;
}
.loading {
  height: 100vh;
}

.pageLoading {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;

  background-color: #fff8ef;

  padding: 0;
}

.postLoadingP {
  height: 100%;
}

iframe {
  border: none;

  border-radius: 1rem;
}
